@charset "utf-8";

/* 
base style 
*/

body {
    font-family: "Noto Serif JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", serif;
    /* font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif; */
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background-color: #faf7f3;
    color: #330000;
    /* background-image: url("./images/haikei.PNG"); */

}


html {
    scroll-behavior: smooth;
}

/* 
最初の画像 
*/

.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;

}

.hero-text1 {
    position: absolute;
    z-index: 2;
    font-size: 100px;
    top: 400px;
}

.hero-text2 {
    position: absolute;
    z-index: 2;
    font-size: 100px;
    top: 490px;
    left: 300px;
}

.hero-img {
    height: 118%;
    width: auto;
    z-index: 1;

}

/* 
header 
*/

.header {
    /* background-color: transparent; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.header-midasi-link {
    color: #330000;
    text-decoration: none;
}

.header-midasi {
    margin-left: 30px;
}

/* .header-nav {} */

.header-navlist {
    margin-right: 30px;
    display: flex;
}

.header-link {
    border-bottom: 2px solid transparent;
    font-weight: bold;
    margin: 0 10px;
    padding: 0 10px;
    transition: border-bottom .25s;

}

.header-link:hover {
    border-bottom: 2px solid #330000;
}

.header-link>a {
    display: block;
}

.header-link2 {
    color: #330000;
    text-decoration: none;
}


/* 
about 
*/

/* .about-section {} */

.about-title {
    text-align: center;
    font-size: 48px;
}

.about-img {
    display: flex;
    justify-content: center;
    gap: 70px;
}

/* .about-img2 {} */

.about-text {
    align-items: center;
    text-align: center;
    font-size: 20px;
    /* padding-left: 50px;
    margin-left: 20px; */
}

.about-text2 {
    margin-top: 50px;
}

.about-text3 {
    margin-top: 50px;
    margin-bottom: 0;
}

.about-text4 {
    margin-top: 0;
    margin-bottom: 0;
}

.about-text5 {
    margin-top: 0;
    margin-bottom: 0;
}

.about-text6 {
    margin-top: 0;
    margin-bottom: 0;
}

.about-text7 {
    margin-top: 0;
    margin-bottom: 0;
}

/* 
list 
*/

.list-title {
    text-align: center;
    font-size: 48px;
    margin-top: 60px;
}

/* .list-sectio {} */

.list-list {
    justify-content: center;
    display: flex;
    list-style: none;
    padding: 10px 0;
    margin: 20px 0;


}

.link-div {
    background-color: #fff;
    /* background-color: #FFFFEE; */
    color: #333;
    border-radius: 5%;
}

.list-list2 {
    padding: 0 10px;
    margin: 0 5px;
}

.list-link {
    display: block;
    text-decoration: none;
}

.list-midasi {
    font-size: 23px;
    margin: 0;
    padding: 16px 8px;
}

.list-text {
    font-size: 15px;
    font-weight: bold;
    padding: 0 8px;
    margin-bottom: 10px;
}

.list-text2 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0px 10px 8px;
}

.list-img {
    border-radius: 5px;
    overflow: hidden;

}

.list-link:hover {

    background-color: #eee;
}

.history-section {
    text-align: center;
    background-color: #eee;
}

.history-midasi {
    padding-top: 50px;
    font-size: 48px;
    text-align: center;
}

.history-midasi2 {
    font-size: 27px;
    font-weight: bold;
}

.history-text {
    font-size: 20px;
    font-weight: bold;
}
.onepage-map-section{
    background-color: #676363;
    padding: 10px 40px;
    margin-top: 40px;
    
    
}

.store-section{
   
}
.store-div{
    display: flex;
    justify-content: center;
}
.store-div2{
    display: flex;
    justify-content: center;
}
.store-div-text{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;padding: 50px;
}
.store-text{
    text-decoration: none;
    color: #330000;
    padding: 30px;
}
.store-midasi{}
.store-logo{}

/* 
二ページ目以降
*/

.header.header-background {
    background-color: #faf7f3;
}

.twopage-gaikann-photo {
    width: 100vw;
    height: 500px;
}

.twopage-img-section {
    margin-top: 130px;
}

.twopage-img-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.twopage-img-text {
    text-align: center;
    margin-left: 40px;
    padding-left: 30px;
}

.twopage-midasi {
    font-size: 40px;
}

.twopage-address {
    font-size: 20px;
    font-weight: bold;
}

.twopage-text {
    font-size: 30px;
    font-weight: bold;
}

.twopage-text2 {
    font-size: 40px;
    font-weight: bold;
}

/* 
map 
*/

.twopage-map-section{
    background-color: #676363;
    padding: 40px;
    padding-bottom: 10px;
    margin-top: 40px;
    
    
}
.twopage-map-figure{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    margin-bottom: 50px;
}
.twopage-map-figure > iframe{
    width: 60%;
}

/* .twopage-map{} */
.twopage-map-address{
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
.twopage-map-address-link{
    text-decoration: none;
    color: #fff;
}
.footer-line{
    border-color: #333;
    border-width: 100%;
}
.footer-copy{
    font-size: 13px;
    display: block;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 8px 0;
}
/* 三ページ目 */

/* .twopage-midasi.three{} */
.twopage-img-text.three{
    margin-left: 30px;
}
.twopage-img-figure.three{
    gap:70px;
    margin-right: 110px;
}
